/* This CSS is super messy. */
/* To-Do: CLEAN IT UP */

body {
  font-family: Courier;
  margin: 0;
}
.wrapper {
  display:flex;
  height: 85vh;
}
.input {
  box-sizing: border-box;
  width: 30%;
  padding: 1em;
  overflow: scroll;
}
.input textarea {
  width: 100%;
  border: 0;
  background-color: #eee;
  display: block;
  margin: 1em auto;
}
.input button {
  display: inline-block;
  padding: 1em;
  font-size: 1em;
  border: 2px solid green;
  background-color: yellowgreen;
  width: 100%;

}

span {
  padding: 0.25em;
}

span.key {
  font-weight: bold;
  cursor:pointer;
  color: blue;
}
span.value {
  color: maroon;
  cursor:pointer;
}

span.key:hover {
  background: aqua;
}
span.value:hover {
  background: salmon;
}
[class^=bracket] {
  font-weight: bold;
  color: green;
}
.line-num {
  color: #777;
}
.results {
  position: relative;
  background-color: #DDD;
  width: 70%;
  overflow:scroll;
  white-space: nowrap;
}
.highlighted {
  box-sizing: border-box;
  border: 1px solid green;
  background: greenyellow;
}
.collapsed {
  display: none;
}
.information {
  background-color: #000;
  position: fixed;
  height: 15vh;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
#output {
  color: #fff;
  padding: 1em;
  padding-left: 20px;
  font-size: 1.5em;
}
#notice {
  display: none;
  text-align: center;
  background: yellow;
  padding: 1em;
  margin-right: 1em;
}
.red {
  color: maroon;
  background-color: salmon;
  padding: 0.125em;
}
.blue {
  color: blue;
  background-color: aqua;
  padding: 0.125em;
}
#output-format {
  display: flex;
}

#output-format > * {
  display: block;
  text-align: center;
  border: 1px solid #CCC;
  margin: 0.5em;
  padding: 0.5em;
}

.github-banner {
  position:fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 130px;
  width: 120px;
}
.gh-link {
  height: 110px;
  width: 190px;
  position:absolute;
  transform: rotate(37deg);
  top: -45px;
  background-color:black;
  background-image: url('http://i.imgur.com/bS27ZWv.png');
  background-size: 80px;
  background-position:center bottom;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
}
.minus {
  border: 1px solid #AAE;
  box-sizing:border-box;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  display: inline-block;
  background-color: #EEF;
  position: absolute;
  left: -1em;
}
.minus::after, .minus::before {
  content: "";
  box-sizing:border-box;
  width: 70%;
  border: 1px solid blue;
  position: absolute;
  top: 45%;
  left: 15%;
  transition: transform 0.25s
}
.plus .minus::before {
  transform: rotate(180deg);
}
.plus .minus::after {
  transform: rotate(90deg);  
}
.plus [class^=bracket]::after {
  content: "...";
}

.results > div {
  position: absolute;
  left: 3em;
}
.results .line-numbers {
  position:absolute;
  list-style-type: none;
  left: 0.5em;
}
p {
  margin: 0.5em 0;
}
.line-numbers li {
  margin: 0.5em 0;
  text-align: center;
  color: #777;
}
/* To do: Media querz */

.results p:last-child {
  position:relative;
  left: -1.5em;
}

