body {
  font-family: Courier;
  margin: 0;
}
.wrapper {
  display:flex;
  height: 85vh;
}
.input {
  box-sizing: border-box;
  width: 30%;
  padding: 1em;
  overflow: scroll;
}
.input textarea {
  width: 100%;
  border: 0;
  background-color: #eee;
  display: block;
  margin: 1em auto;
}
.input button {
  display: inline-block;
  padding: 1em;
  font-size: 1em;
  border: 2px solid green;
  background-color: yellowgreen;
  width: 100%;

}
p {
  display: inline-block;
}

span {
  padding: 0.25em;
}

span.key {
  font-weight: bold;
  cursor:pointer;
  color: blue;
}
span.value {
  color: maroon;
  cursor:pointer;
}

span.key:hover {
  background: aqua;
}
span.value:hover {
  background: salmon;
}
.bracket {
  font-weight: bold;
  color: green;
}
.line-num {
  color: #777;
}
.results {
  position: relative;
  background-color: #DDD;
  width: 70%;
  overflow:scroll;
  white-space: nowrap;
}
.highlighted {
  box-sizing: border-box;
  border: 1px solid green;
  background: greenyellow;
}

.information {
  background-color: #000;
  position: fixed;
  height: 15vh;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
#output {
  color: #fff;
  padding: 1em;
  padding-left: 20px;
  font-size: 1.5em;
}
#notice {
  display: none;
  text-align: center;
  background: yellow;
  padding: 1em;
  margin-right: 1em;
}
.red {
  color: maroon;
  background-color: salmon;
  padding: 0.125em;
}
.blue {
  color: blue;
  background-color: aqua;
  padding: 0.125em;
}
#output-format {
  display: flex;
}

#output-format > * {
  display: block;
  text-align: center;
  border: 1px solid #CCC;
  margin: 0.5em;
  padding: 0.5em;
}
/* To do: Media querz */



