body {
  font-family: Courier;
}

p {
  display: inline-block;
}

span {
  padding: 0.25em;
}

span.key {
  font-weight: bold;
}

span.key:hover {
  background: aqua;
}
span.value:hover {
  background: salmon;
}
.results {
  position: relative;
}
.bracket:hover {
  background: greenyellow;
}